.logo__cursor {
    background: #008897;
}

img {
  border: 1px solid;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
  margin: auto;
}
